$grey: #585858;
$dark-grey: #423b3b;
$white: #eeeeee;
$green: #bfff38;
$orange: #ffc738;
$blue: #38f3ff;
$red: #ff3838;
$font-racing: "Racing Sans One", cursive;
$font-roboto: "Roboto Mono", monospace;
