@import "base";

.review-container {
  min-height: 90vh;
  height: auto;
  width: 90vw;
  margin: 2rem auto auto auto;
  background-color: $dark-grey;
  text-align: center;
  border: solid 1px black;
  border-radius: 10px;
}

.review {
  text-align: left;
  p {
    font-family: $font-roboto;
  }

  padding: 1rem 2rem 1rem 2rem;
}

.edit-review-btn {
  @include btn;

  background: $orange;

  margin: 1rem;
}
