@import "styles/base";

html,
* {
  box-sizing: border-box;
  font-family: $font-roboto;
}

html {
  background-color: $grey;
}

input:focus {
  outline: none;
}

button {
  transition: transform 100ms ease-in-out;
}

button:hover {
  filter: contrast(200%);
}

button:active {
  transform: scale(0.9);
}

.warningMessage {
  color: $red;
}
